<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/output.css" rel="stylesheet">
    <title>Museo TIME</title>
</head>
<body>
    
    <!--hero museo time-->
    <div>
        <div class="mx-32">
            <div class="flex justify-between">
                <div class="flex">
                    <img src="./assets/img/logo.png" class="h-16" alt="logo">
                </div>
                <div class="flex my-auto">
                    <a href="./home.html" class="text-xl mr-5">Home</a>
                    <a href="./history.html" class="text-xl mr-5">Storia</a>
                    <a href="./projects.html" class="text-xl mr-5">Progetti</a>
                    <a href="./events.html" class="text-xl mr-5">Eventi</a>
                    <a href="./contacts.html" class="text-xl">Contatti</a>
                </div>
            </div>
        </div>
    </div>

    <section id="hero" class="m-32">
        <div class="grid grid-cols-2">
            <div>
                <h1 class="text-8xl">Tecnologici dal 1885</h1>    
            </div>
            <div>
                <img src="./assets/img/time.jpg" alt="TIME">
            </div>
        </div>
    
    </section>


    <section class="m-32">
        <!--sezione "laboratorio delle idee"-->


        <div class="m-auto">
            <h1 class="text-5xl text-center">Laboratorio delle idee</h1>

            <a class="text-center" href="">Visualizza tutto</a>
        </div>
        <div class="grid grid-cols-3 gap-16 mt-16">
            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea fugiat reprehenderit. Culpa nostrud
                        culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris veniam.</p>
                </div>
            </div>

            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea fugiat reprehenderit. Culpa nostrud
                        culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris veniam.</p>
                </div>
            </div>

            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea
                        fugiat reprehenderit. Culpa nostrud culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris
                        veniam.</p>
                </div>
            </div>
        </div>

    </section>

    <section id="progetti" class="m-32">
        <div class="grid grid-cols-2 gap-16">
            <div>
                <img src="./assets/img/time.jpg" alt="TIME">
            </div>
            <div class="m-auto">
                <h1 class="text-5xl">Tecnologici dal 1885</h1>
                <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                    reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                    deserunt commodo. Dolor eiusmod nulla in consequat enim ea fugiat reprehenderit. Culpa nostrud
                    culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris veniam.</p>
    
            </div>
        </div>

    </section>

    <section id="events" class="m-32">
        <h1 class="text-5xl text-center">Prossimi eventi</h1>
        <div class="grid grid-cols-3 gap-16 mt-16">
            <!--crea una card con immagine orizzontale in alto e testo sotto con tailwindcss-->
            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea fugiat reprehenderit. Culpa nostrud
                        culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris veniam.</p>
                </div>
            </div>

            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea fugiat reprehenderit. Culpa nostrud
                        culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris veniam.</p>
                </div>
            </div>

            <div class="bg-gray-200">
                <div>
                    <img src="./assets/img/time.jpg" class="w-full h-full" alt="TIME">
                </div>
                <div class="p-12">
                    <h1 class="text-4xl">Camera immersiva</h1>
                    <p class="text-lg">Culpa incididunt amet ullamco nostrud aliqua et dolor ad nulla sit do
                        reprehenderit adipisicing eiusmod. Enim consequat eu eu do anim eu sit laborum Lorem occaecat ut
                        deserunt commodo. Dolor eiusmod nulla in consequat enim ea
                        fugiat reprehenderit. Culpa nostrud culpa anim quis ex veniam aliqua laborum ad eu qui ea laboris
                        veniam.</p>
                </div>
            </div>
        </div>
    </section>

    <footer
    class="bg-neutral-200 text-center lg:text-left">
    <div class="p-4 text-center text-neutral-700">
      © 2023 Copyright:
      <a
        class="text-neutral-800 dark:text-neutral-400"
        href="https://tailwind-elements.com/"
        >Museo TIME</a
      >
    </div>
  </footer>    

</body>
</html>